$primary-color: #252525;
$poppins: 'Poppins', sans-serif;

@import 'content';

.header{
	width: 100%;
	z-index: 10000;
    background-color: $primary-color;
    
    .nav-link{
        color: #fff;
        transition: all .3s;
        position: relative;

        &:hover{
            opacity: .6;
        }
    }
}
