

.header{
	width: 100%;
	z-index: 10000;
	background-color: #000;
	border-bottom: 1px solid #959595;
}

.header .nav-link{
	color: #fff;
	transition: all .3s;
	position: relative;
}

.header .nav-link:hover::before{
	content: '';
	position: absolute;

}

.header .nav-link:hover{
	color: #959595;
}

#intro{
	background: #ccc;
}

#slider-1{
	background: #757575;
}

#slider-2{
	background: #ccc;
}

