

.header{
	width: 100%;
	z-index: 10000;
	background-color: rgba(0, 0, 0, .7);
	border-bottom: 1px solid #959595;
}

.header .nav-link{
	color: #fff;
	transition: all .3s;
	position: relative;
}

.header .nav-link:hover::before{
	content: '';
	position: absolute;

}

.header .nav-link:hover{
	opacity: .6;
}

#intro{
	background-image: url('img/beer-a-pint.jpeg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #ccc;
}

#slider-1{
	background: #757575;
}

#slider-2{
	background: #ccc;
}

